include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        .wrapper

            //- aside
            aside.header__aside.aside

                //- close
                button(type='button').aside__close
                    +icon('close', 'aside__close-svg')

                //- logo
                .aside__logo
                    a(href='/').logo
                        +image('content/logo.png','','logo__img')

                //- bottom
                .aside__bottom
                    //- menu
                    .aside__nav
                        nav.nav
                            each i in nav
                                div(class=i.dopClass).nav__item
                                    a(href=i.href).nav__item-link=i.title
                                    if i.list
                                        .nav__item-subnav
                                            .subnav
                                                each j in i.list
                                                    a(href=j.href class=j.dopClass).subnav__item= j.title


                    //- download
                    a(href='/' download=true).aside__download СКАЧАТЬ ПРАЙС ЛИСТ

                    //- socials
                    .aside__socials
                        .socials
                            each i in ['fb','vk','insta']
                                a(href='/').socials__item
                                    +icon(i, 'socials__item-svg')

                    //- reg
                    .aside__reg Свидетельство о государственной регистрации: №611.995 Выдано Московской регистрационной палатой.








            //- header
            header.header
                //- top
                .header__top
                    .container.header__container
                        .header__logo
                            a(href='/').logo
                                +image('content/logo.png','','logo__img')

                        .header__search
                            form.search
                                input(type='text' name='search' placeholder='Поиск по сайту').search__input
                                button(type='submit').search__submit
                                    +image('icons/loop.png','','search__submit-img')
                        .header__phone
                            a(href='tel:+7(495)646-35-30').phone
                                +image('icons/phone.png','','phone__icon')
                                .phone__title +7 (495) 646-35-30
                        .header__button
                            button(type='button').button.jsCallback ОСТАВИТЬ ЗАЯВКУ


                        .header__mobile-button
                            button(type='button').mobile-button
                                +icon('menu', 'mobile-button__svg')
            //- pages
            .page
                block content

            //- footer
            footer.footer

    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div



    .popup
        .popup__wrapper

    template#callback
        .callback
            form().callback__form.form
                button(type='button').form__close Закрыть
                .form__title Форма обратной связи
                .form__fields
                    .form__row.row
                        .form__field.form__field_2
                            input(type='text' name='name' placeholder='Ваше имя').input
                        .form__field
                            input(type='tel' name='tel' placeholder='Телефон' required=true).input
                        .form__field
                            input(type='email' name='email' placeholder='Email').input
                        .form__field.form__field_2
                            textarea(name='message' placeholder='Сообщение').input.input_area
                .form__fz
                    .fz
                        label.fz__label
                            input(type='checkbox' name='fz' checked=true).fz__input
                            .fz__fake
                            .fz__desc
                                .fz__title Я даю согласие на обработку персональных данных.
                                a(href='/').fz__link Прочитать пользовательское соглашение.

                .form__buttons
                    button(type='submit').form__button.button
                        .button__title Заказать звонок
                input(type='hidden' name='action' value='callback')


    template#success
        .form__success
            button(type='button').form__close Закрыть
            .form__success-title Спасибо за заявку
            .form__success-subtitle Наш менеджер свяжется с Вами в ближайшее время.
    script(src='js/vendor.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    script(src='js/main.min.js')
